<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Student management system</title>
<style>
body{
	background-image: url("https://th.bing.com/th/id/R.d380c742c41807c14e3be5e0ed3101e9?rik=WMoOwC83fT%2b7vQ&pid=ImgRaw");
}
table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}
td, th {
  border: 1px solid #ddd;
  padding: 8px;
}

 tr:nth-child(even){background-color: #f2f2f2;}

tr:hover {background-color: #ddd;}
th {
 padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: blue;
  color: white;
}
</style>
</head>
<body>
<h2>Students list</h2>
<div align="center">
<h3><a th:href="@{newStudentForm}">Add new Student</a></h3>
	<table border="1">
		<thead>
		<tr>
			<th>First name:</th>
			<th>Last name:</th>
			<th>CNE:</th>
			<th>Actions</th>		
		</tr>
		</thead>
		<tbody>
		<tr th:each="student : ${students}">
			<td th:text="${student.firstname}"></td>
			<td th:text="${student.lastname}"></td>
			<td th:text="${student.CNE}"></td>
			<td><a th:href="@{/showUpdateForm/{id}(id=${student.id})}">Update</a>
			<a th:href="@{/deleteStudent/{id}(id=${student.id})}">Delete</a>
			</td>
		</tr>		
		</tbody>
	</table>
</div>
</body>
</html>