<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Update student</title>
<style>
body{
	background-image: url("https://th.bing.com/th/id/R.d380c742c41807c14e3be5e0ed3101e9?rik=WMoOwC83fT%2b7vQ&pid=ImgRaw");
}
input[type=text]{
  width: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

</style>
</head>
<body>
<form action="#" th:action="@{/saveStudent}", th:object="${student}" method="post">
<input type="hidden" th:field="*{id}"/>
<input type="text" th:field="*{firstname}" >
<input type="text" th:field="*{lastname}" >
<input type="text" th:field="*{CNE}">
<button type="submit">Update student</button>
</form>
<hr><a th:href="@{/students}">Back to the list</a>
</body>
</html>